bertopic
keybert
spacy
sqlalchemy
snowballstemmer
pandas
torch
transformers
matplotlib
plotly
scipy
sentence-transformers
numpy
scikit-learn
umap-learn
dash
dash-bootstrap-components
preprocessor
nltk
gensim
wordcloud
pyLDAvis 